# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Python environment
.python-version
